[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
pyarrow = "*"
pyyaml = "*"



[dev-packages]
coverage = "*"
jupyter = "*"
pylint = "*"
awscli = "*"
moto = "*"

[requires]
python_version = "3.8"
